@use "variables" as *;
.my-btn {
  color: $primary-color-light-yellow;
  background: none;
  border: 1px solid $primary-color-light-yellow;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 120px;
  height: 80px;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.my-btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $secondary-color-light-green;
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.my-btn:hover{
  color: $primary-color-dark-grey;
  border-color: $secondary-color-light-green;
}

.my-btn:hover::before{
  transform: scaleX(1);
}