@use "variables" as *;
.header-section {
  padding: 10px;
  top: 0;
  z-index: 1000;
}

@media (min-width: 768px) {
  .header-section {
    position: sticky;
    box-shadow: 0 6px 6px -6px rgba(255, 252, 63),
      0 10px 10px -10px rgba(255, 252, 63);
  }
}
