@use "variables" as *;
.icon {
  display: block;
  width: 3em;
  height: 3em;
  stroke-width: 0;
  fill: $primary-color-light-yellow;
  background-color: transparent;
  margin: 0;
}

.icon-tea-leaf:hover,
.icon-arrow:hover {
  fill: $secondary-color-light-green;
}

.scroll-to-top{
  position: fixed;
  bottom: 20px;
  right: calc(50vw - 600px + 20px);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateY(100%);

  @media (max-width: 1240px) {
    right: 20px;
  }
}

.scroll-to-top.is-visible{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top.is-hidden-by-footer{
  transform: translateY(100px);
  opacity: 0;
}

.icon-arrow-up {
  rotate: -90deg;
}

.icon-arrow-prev{
  rotate: -180deg;
}

.icon-cross:hover {
  cursor: pointer;
  fill: $secondary-color-light-green;
}