@use "variables" as *;
.my-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;

  .my-modal {
    position: relative;
    width: 100%;
    max-width: 428px;
    height: 100%;
    max-height: 400px;
    padding: 20px;
    background-color: $primary-color-dark-grey;
    border-radius: 20px;
    overflow: auto;

    .modal-close-btn {
      position: absolute;
      top: 14px;
      right: 14px;
    }

    .my-modal-form {
      margin-top: 64px;
    }
  }
}

.my-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
